.h3 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
h3 span {
  color: blue;
}
.greyback {
  background-color: darkgrey;
}
.gridtable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  padding: 20px 0px;
}
.gridItem {
  border: 2px solid black;
  background-color: white;
}
.carttext {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.gridItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.cancel {
  align-self: flex-start;
}
.gridItem input {
  padding: 5px;
  background-color: grey;
  border-style: none;
  width: 60px;
}
.gridItem h5 {
  font-size: 20px;
}
.carttext h3 span {
  font-size: 20px;
}
h3 del {
  font-size: 12px;
  opacity: 0.7;
}
.total {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  justify-content: space-around;
}
.total h4 span {
  color: blue;
}
.total button {
  color: white;
  opacity: 0.7;
  border-style: none;
  background-color: blue;
  padding: 10px 30px;
  border-radius: 10px;
}
