* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  margin: 0px auto;
}
.container {
  width: 80%;
  margin: 0px auto;
  padding: auto;
}
.left__header {
  display: flex;
  align-items: center;
}
header {
  background-color: blue;
}
.headerinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerinfo img {
  height: 40px;
}
.searchbox input {
  padding: 10px 80px 10px 30px;
  border-radius: 20px;
  border-style: none;
}
.menus {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menucontainer {
  background-color: black;
  color: white;
  padding: 20px 0;
}
.footermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
}
footer h5 span {
  color: blue;
}
footer h5 {
  opacity: 0.7;
}
