.projectback h2 {
  font-weight: 700;
  font-size: 30px;
  padding: 30px 0px;
}
.projectback span {
  color: blue;
}
.projectback {
  text-align: center;
  background-color: darkgray;
}
.menuitem {
  padding: 10px;
  background-color: white;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  justify-content: space-around;
}
.productmenus {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.griditem {
  border: 2px solid black;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.productgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
h3 > span {
  font-size: 30px;
}
h3 > del {
  font-size: 15px;
}

.dealflex {
  display: flex;
  justify-content: space-between;
}
.dealtext {
  margin-bottom: 30px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid black;
  width: 49%;
  height: 280px;
  background-image: url(/img/product-banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  /* background-origin: content-box; */

  /* bottom: 100px; */
}
.img2 {
  background-image: url(/img/product-banner-2.jpg);
}
.dealtext button {
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border-style: none;
}
.dealtext p {
  color: blue;
}
.dealtext h4 {
  font-size: 30px;
}
